@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css or global CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and newer Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
